*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dim_card{
    min-height: 380px !important;
}

header img{
    max-width: 100px;
}

main img{
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}